@model ASPKnowledgeBase.Models.Login.LoginLinkUser

@if (Model.IsLoggedIn)
{
    <li><a href="#">@Model.Login</a></li>
    <span>|</span>
    <li><a href="@Url.Action("Logout", "Login")">Выход</a></li>
}
else
{
    <li><span class="navbar-text">Гость</span></li>
    <span>|</span>
    <li><a href="#" data-toggle="modal" data-target="#loginModal">Войти</a></li>
}

